body {
  margin: 0px;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;

  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 100%;
    padding: 2em;
    #home {
      height: 100%;
    }
  }
}
